* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  padding: 10px;
  gap: 20px;
  background-color: #dfeddc;
}

.container {
  display: grid;
  place-items: center;
  gap: 20px;
}

.container form {
  width: 100%;
  background: #bdec6c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 16px;
  gap: 10px;
}

.container form input,
select {
  padding: 10px 5px;
  border: none;
  border-color: #bdec6c;
  width: 25vw;
}

.container form button {
  padding: 10px 25px;
  background: #37ef12;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
}

.container #budget-display {
  color: #1c8208;
  font-weight: 700;
  font-size: xx-large;
}
